.home{
    min-height: 53rem;
    margin: 0%;
}
.titles{
    text-align: center;
    margin: 4%;
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
}
.productosHome{
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
@media (max-Width: 780px){
    .home{
        min-height: 40rem;
        margin: 0%;
    }
    .titles{
        margin: 4% 2%;
        font-size: 20px;
        font-family: 'Zen Dots', cursive;
    }
    .productosHome{
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}