.home{
    min-height: 30rem;
    margin: 0%;
}
.titles{
    text-align: center;
    margin: 4%;
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
}
.productosHome{
    margin-top: 2%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
@media (max-Width: 780px){
    .home{
        min-height: 40rem;
        margin: 0%;
    }
    .titles{
        margin: 4% 2%;
        font-size: 20px;
        font-family: 'Zen Dots', cursive;
    }
    .productosHome{
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}