.SkillsImgs{
    width: 60px;
    height: 30px;
}
.SkillsDates{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.Jobs{
    padding: 4%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.SkillsImgsCuadrado{
    margin: 0 2%;
    width: 30px;
    height: 30px;
}
.SkillsCard{
    width: 30rem;
}
.cardJob{
    width: 18rem;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}
.cardImg{
    display: flex;
    align-self: center;
    width: 12rem;
}
.cardProducto{
    width: 18rem;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(40, 45, 49);
}
.cardProducto:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: 0.5s;
}
.cardProductoPhoto{
    width: 16rem;
    height: 100%;
    border-radius: 20px;
}
.cardProductoPhotoModal{
    width: 80%;
    height: 100%;
    border-radius: 20px;
}
.tituloCardProducto{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}
.formProducto{
    margin-top: 2%;
    width: 50%;
}
@media (max-Width: 780px){
    .Jobs{
        width: 100%;
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .cardJob{
        width: 10rem;
        font-family: 'Chakra Petch', sans-serif;
        text-align: center;
        font-size: 12px;
    }
    .cardImg{
        display: flex;
        align-self: center;
        width: 8rem;
    }
    .SkillsCard{
        width: 10rem;
    }
    .formProducto{
        width: 90%;
    }
    .cardProducto{
        width: 6rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        text-align: center;
        color: rgb(40, 45, 49);
    }
    .cardProductoPhoto{
        width: 120px;
        height: 100%;
        border-radius: 0rem;
    }
    .tituloCardProducto{
        font-family: 'Chakra Petch', sans-serif;
        font-size: 12px;
    }
}