.SkillsImgs{
    width: 60px;
    height: 30px;
}
.SkillsDates{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.Jobs{
    padding: 4%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.SkillsImgsCuadrado{
    margin: 0 2%;
    width: 30px;
    height: 30px;
}
.SkillsCard{
    width: 30rem;
}
.cardJob{
    width: 21rem;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}
.cardJob:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: 0.5s;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.301);
}
.cardProducto{
    width: 18rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    text-align: center;
    color: rgb(40, 45, 49);
}
.cardProducto:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: 0.5s;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.301);
}
.cardProductoPhoto{
    width: 100%;
    height: 200px;
    border-radius: 2rem;
}
.tituloCardProducto{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}
.formProducto{
    margin-top: 2%;
    width: 50%;
}
@media (max-Width: 780px){
    .Jobs{
        width: 100%;
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .cardJob{
        width: 17rem;
        font-family: 'Chakra Petch', sans-serif;
        text-align: center;
    }
    .SkillsCard{
        width: 10rem;
    }
    .formProducto{
        width: 90%;
    }
    .cardProducto{
        width: 7rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        text-align: center;
        color: rgb(40, 45, 49);
    }
    .cardProductoPhoto{
        width: 100%;
        height: 90px;
        border-radius: 1rem;
    }
    .tituloCardProducto{
        font-family: 'Chakra Petch', sans-serif;
        font-size: 12px;
    }
}